/*@font-face {*/
/*  font-family: "Ionicons";*/
/*  src: url("./topic_pages/assets/fonts/ionicons/fonts/ionicons.eot?v=2.0.0");*/
/*  src: url("./topic_pages/assets/fonts/ionicons/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("./topic_pages/assets/fonts/ionicons/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("./topic_pages/assets/fonts/ionicons/fonts/ionicons.woff?v=2.0.0") format("woff"), url("./topic_pages/assets/fonts/ionicons/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");*/
/*  font-weight: normal;*/
/*  font-style: normal; }*/

/*@font-face {*/
/*  font-family: 'FontAwesome';*/
/*  src: url("./topic_pages/assets/fonts/fontawesome/fonts/fontawesome-webfont.eot?v=4.7.0");*/
/*  src: url("./topic_pages/assets/fonts/fontawesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("./topic_pages/assets/fonts/fontawesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("./topic_pages/assets/fonts/fontawesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("./topic_pages/assets/fonts/fontawesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("./topic_pages/assets/fonts/fontawesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");*/
/*  font-weight: normal;*/
/*  font-style: normal; }*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /*font-family: $font-family-sans-serif;*/
  font-family: "Montserrat", Arial, sans-serif;
  margin: auto;
}

/* Style the navigation bar*/
.main-navbar {
  background-color: rgba(232, 177, 45, 1);
  border-radius: 2px;
  overflow: hidden;
}

/* Remove link underlining */
.main-navbar a {
  text-decoration: none;
}

.navbar-right a, .navbar-right a:visited {
  color: rgb(255, 237, 200);
  display: inline-block;
  padding: 20px;
  font-size: 110%;
}

.navbar-right a:hover {
  color: #ffffff;
}


/* Float the nav bar elements to the right*/
.navbar-right {
  float: right;
  padding-right: 5%;
}

.navbar-left {

}

/* Style logo*/
.logo {
  all: revert;
  display: block;
  max-width: 60px;
  height: auto;
  width: auto;
  float: left;
  padding-left: 3%;
}

.nav-title {
  all: revert;
  line-height: normal;
  font-weight: 500 !important;
  padding: 0 0 0 8%;
  font-size: 300%;
  color: white;
  margin-bottom: 0px;
}

h2 {
  padding: 5%;
  text-align: center;
  color: #313236;
}

h3 {
  color: #313236;
}

/* Style the about us section*/
.about-us {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}

/* Style the explore topics content */
.explore-topics {
  padding-left: 10%;
}

.topic-link {
  display: block;
}