@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /*font-family: $font-family-sans-serif;*/
  font-family: "Montserrat", Arial, sans-serif;
  margin: auto;
  background-color: white;
}

/* Accessible color for the website text */
p, li, td {
  color: #4D555B;
}

b {
  font-weight: bold;
}

/* Style the navigation bar*/
.main-navbar {
  background-color: #96C5BC;
  border-radius: 2px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Remove link underlining */
.main-navbar a {
  text-decoration: none;
}

.navbar-right a, .navbar-right a:visited {
  color: #3C2109;
  display: inline-block;
  padding: 20px;
  font-size: 110%;
  font-weight: 500;
  padding-bottom: 6%;
  padding-top: 6%;
}

.navbar-right a:hover {
  color: #ffffff;
  background-color: #3B8179;
  padding-bottom: 6%;
  padding-top: 6%;
}


/* Float the nav bar elements to the right*/
.navbar-right {
  padding-right: 2%;
}

.navbar-left {
  display: flex;
  align-items: center;
  background-color: #3B8179;
  padding: 2% 2% 2% 2%;
}

/* Style logo*/
.logo {
  all: revert;
  display: block;
  max-width: 60px;
  height: auto;
  width: auto;
  padding-left: 3%;
}

.nav-title {
  all: revert;
  line-height: normal;
  font-weight: 500 !important;
  padding: 7px 45px 7px 6%;
  font-size: 300%;
  color: white;
  border-radius: 30px;
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 0;
}

h2 {
  padding: 2%;
  text-align: center;
  color: #3C2109;
}

h3 {
  color: #3C2109;
}

/* Style the about us section*/
.about-us {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
}

/* Style the explore topics content */
.explore-topics {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto auto 50px;
}

/* Styles all links */
a {
  color: #005E70;
}

.topic-link {
  display: flex;
  width: 300px;
  height: 325px;
  border-radius: 10px;
  margin: 15px;
  text-align: center;
  background-color: #FED521;
  color: #3C2109;
  font-size: 24pt;
  text-decoration: none;
  line-height: 50px;
  align-items: center;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.topic-link p {
  font-weight: bold;
  color: #3C2109;
}

.topic-link:hover {
  background-color: #FFC700;
  transform: scale(1.05);
}

/* icons on the explore topics page */
.topic-link .material-icons {
  font-size: 30pt;
}

ul {
  text-align: left !important;
}

footer {
  vertical-align: middle;
}

/* icon on topic page menu */
.pb_media_v2 .material-icons {
  font-size: 28pt !important;
}

/* loading page */
.bee-loader {
  width: 100px;
  height: auto;
  transform-origin: bottom;
  animation-duration: .8s;
  animation-iteration-count: 2;
}

.loading-container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

.loading-container p {
  margin-top: 20px;
  font-size: 16pt;
}

@keyframes bounce-2 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-50px); }
  100% { transform: translateY(0px); }
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

/* definitions styling */
def {
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  display: inline-block;
}


def span {
  font-style: normal;
  visibility: hidden;
  font-size: 85%;
  width: 250px;
  border: 2px solid #FFC700;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -130px;
  opacity: 0;
  transition: opacity 750ms;
}

def span::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FFC700 transparent transparent transparent;
}

def:hover span {
  visibility: visible;
  opacity: 1;
}

#extension-steps-container {
  margin: auto;
  width: 90%;
}

#extension-steps-container img {
  width: 250px;
  height: 250px;
}

#extension-steps-container tr > * {
  padding: 10px;
}